body{
    font-family: 'Segoe UI';
    background-color: aliceblue;
}
h2{
    text-align: center;
    color:dodgerblue;
    font-weight: 600;
    padding-bottom: 10px;
}
.container{
    background-color: white;
    margin: auto;
    width: 350px;
    padding: 40px;
    border: 1.5px outset grey;
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 10px;
    margin-top: 2%;
}
.submit{
    width:345px;
    height:30px;
    border-width: 1.5px;
    border-radius: 5px;
    border-color: grey;
    background-color:dodgerblue;
    font-size: medium;
    color:white;
}
.input{
    height:25px;
    width:335px;
    border-width: 1.5px;
    border-radius: 5px;
    border-style: inset;
    padding-left: 5px;
}
label{
    padding-bottom: 10px;
}
p{
    margin:0;
    color:crimson;
}
